@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
.container {
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 8px;
    height: 100%;
    background-color: var(--cor-preto-azulado);
    position: relative;
    z-index: 1;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    animation: shadowPulse 5s infinite;
  }
  @keyframes shadowPulse {
    0% {
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }
    50% {
      box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
    }
    100% {
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }
  }
  .header {
    font-size: 24px;
    font-weight: bold;
  }
  
  .valor {
    color: #ffff;
    font-family: 'Poppins', sans-serif;
  }
  
  .categoria {
    display: block;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    color: #ffff;
  }
  
  .grafico-container {
    margin-top: auto;
  }
  .waves{
    width: 100%;
  }
  .wave {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: -1; 
  }
  .wave-1{
    animation: moveWave 10s ease-in-out infinite ;
    opacity: 0.9;
    transform-origin: right;
  }
  
  @keyframes moveWave {
    0% {
      transform: scaleX(2) translateY(0px);
    }
    25% {
      transform: scaleX(2.4) translateY(10px);
    }
    50% {
      transform: scaleX(1.1) translateY(20px);
    }
    75% {
      transform: scaleX(2.4) translateY(10px);
    }
    100% {
      transform: scaleX(2) translateY(0px);
    }
  }