@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
.container {
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 8px;
    height: 100%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    animation: shadowPulse 5s infinite;
  }
  @keyframes shadowPulse {
    0% {
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }
    50% {
      box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
    }
    100% {
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }
  }
  .header {
    font-size: 24px;
    font-weight: bold;
  }
  
  .valor {
    color: #000;
    font-family: 'Poppins', sans-serif;
  }
  
  .categoria {
    display: block;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    color: #555;
  }
  
  .grafico-container {
    margin-top: auto;
  }
  