  .button {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 8px 7px;
    border-radius: 9999px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .button-light {
    background-color: var(--cor-preto-azulado);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    color: #ffffff;
    //width: 100%;
  }
  mat-icon{
    padding-left: 5px;
    font-size: 23px;
  }
  .button-light:hover {
    background-color: var(--cor-azul)
  }
  mat-icon{
    width: 20%;
  }
  .button input {
    border: none;
    color: white;
    background: transparent;
    //font-size: 14px;
    //width: 100%;
   // padding: 6px 7px;
    border: none;
    box-sizing: border-box;
    transition: border-color 0.3s ease;
  }
  

  