.form-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    max-width: 400px;
    margin: auto;

    .custom-input {
      width: 100%;
      color: white;
    }

    .custom-name-field {
      font-weight: bold;
      color: white;
    }

    .button-container {
      display: flex;
      gap: 10px; 
      justify-content: center;
      align-items: center; 
      width: 100%;
    }
    
    button {
      margin-top: 0; 
      flex: 1;
      padding: 10px 20px;
      border-radius: 5px;
      border: none;
      cursor: pointer;
      font-size: 14px;
      align-self: auto;
    
      &.btn-primary {
        color: #fff;
        background-color: #4e5c6e;
    
        &:hover {
          background-color: #3b495e;
        }
      }
    
      &.btn-secondary {
        color: #4e5c6e;
        background-color: #f1f1f1;
    
        &:hover {
          background-color: #e2e2e2;
        }
      }
    }

    // Adicionando uma estrutura flex para possibilitar campos lado a lado quando possível
    .form-fields {
      display: flex;
      flex-wrap: wrap;
      gap: 16px;  // Espaço entre os campos

      mat-form-field {
        flex: 1 1 100%; // Vai ocupar toda a linha por padrão
        max-width: 100%; // Impede o campo de ultrapassar o tamanho disponível

        // Campos maiores ou específicos podem ter um controle de largura
        &.half-width {
          flex: 1 1 48%;  // Estabelece um limite para cada campo ocupar metade da linha
        }
      }
    }
}
/* Estilos para o botão de voltar */
.back-button {
    position: absolute;
    top: 10px;
    left: 10px;
    background: transparent;
    border: none;
    color: #000;
    font-size: 24px;
}

.back-button mat-icon {
    font-size: 24px;
}
