<form [formGroup]="passwordForm" (ngSubmit)="onSubmitPassword()">
    <div class="password-instruction">
      <p>Por favor, insira sua nova senha.</p>
    </div>
  
    <div class="password-input-container">
      <label for="newPassword">Nova Senha</label>
      <input 
        id="newPassword"
        type="password"
        formControlName="newPassword"
        matInput
        required
        minlength="8"
        placeholder="Digite sua nova senha"
      />
      <mat-error *ngIf="passwordForm.get('newPassword')?.hasError('required') && passwordForm.get('newPassword')?.touched">
        A senha é obrigatória.
      </mat-error>
      <mat-error *ngIf="passwordForm.get('newPassword')?.hasError('minlength') && passwordForm.get('newPassword')?.touched">
        A senha deve ter no mínimo 8 caracteres.
      </mat-error>
      <mat-error *ngIf="passwordForm.get('newPassword')?.hasError('pattern') && passwordForm.get('newPassword')?.touched">
        A senha deve conter pelo menos uma letra maiúscula, um número e um caractere especial.
      </mat-error>
    </div>
  
    <div class="password-input-container">
      <label for="confirmPassword">Confirmar Senha</label>
      <input 
        id="confirmPassword"
        type="password"
        formControlName="confirmPassword"
        matInput
        required
        placeholder="Confirme sua nova senha"
      />
      <mat-error *ngIf="passwordForm.get('confirmPassword')?.hasError('required') && passwordForm.get('confirmPassword')?.touched">
        A confirmação da senha é obrigatória.
      </mat-error>
      <mat-error *ngIf="passwordForm.get('confirmPassword')?.hasError('mismatch') && passwordForm.get('confirmPassword')?.touched">
        As senhas não coincidem.
      </mat-error>
    </div>
  
    <div *ngIf="isPasswordValid" class="success-message">
      ✅ Senha alterada com sucesso!
    </div>
  
    <button mat-button type="submit" [disabled]="passwordForm.invalid">Alterar Senha</button>
  </form>
  