<form [formGroup]="codeForm" (ngSubmit)="onSubmitCode()">
    <div class="code-input-container">
      <input 
        *ngFor="let digit of digits; let i = index"
        #inputRef
        matInput
        maxlength="1"
        class="code-input"
        type="text"
        [formControlName]="'digit' + i"
        (input)="moveFocus($event, i)"
      />
    </div>
  
    <mat-error *ngIf="codeForm.invalid && codeForm.touched" style="text-align: center; display: flex; justify-content: center; align-items: center;">
      Certifique-se de preencher corretamente os 6 dígitos.
    </mat-error>
    <div *ngIf="isCodeValid" class="success-message">
      ✅ Código validado com sucesso!
    </div>
  </form>
  