.container {
  display: flex;
  height: 100vh;
  justify-content: space-between;
}

.logo {
  flex: 1;
  display: flex;
  align-items: center;

  span {
    font-size: 2em;
    color: white;
  }
}

.form {
  width: 400px;
  background-color: #19202b;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  color: white;
  height: 100vh;
}

.form-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-width: 400px;
  margin: auto;
  align-items: flex-end;

  .custom-input {
    width: 100%;
    color: hsl(0, 0%, 100%);
  }

  .custom-name-field {
    font-weight: bold;
    color: white;
  }

  button {
    margin-top: 16px;
    align-self: flex-end;
    color: #fff;
    background-color: #4e5c6e;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;

    &:hover {
      background-color: #3b495e;
    }
  }
}

.welcome-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  margin-bottom: 20px;

  span {
    font-size: 2em;

    &:first-child {
      color: white;
    }
  }

  .typing-animation {
    background-image: linear-gradient(to right, #6a82fb, #fc5c7d);
    -webkit-background-clip: text;
    color: transparent;
  }
}