.container {
  display: flex;
  height: 100vh;
  justify-content: center;
}

.logo {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo span {
  font-size: 6em;
  background-image: linear-gradient(to right, #6a82fb, #fc5c7d);
  -webkit-background-clip: text;
  color: transparent;
  white-space: nowrap;
  overflow: hidden;
  animation: escrever 2s linear forwards;
}

@keyframes escrever {
  0% {
      clip-path: inset(0 100% 0 0);
  }
  100% {
      clip-path: inset(0 0 0 0);
  }
}
.form {
  width: 390px;
  background-color: #19202b;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  color: white;
  height: 100vh;
}

.form-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-width: 400px;
  margin: auto;
  align-items: flex-end;

  .custom-input {
    width: 100%;
    color: white
  }

  .custom-name-field {
    font-weight: bold;
    color: white;
  }

  button {
    margin-top: 16px;
    width: 100%;
    align-self: flex-end;
    color: #fff;
    background-color: #4e5c6e;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;

    &:hover {
      background-color: #3b495e;
    }
  }
}

.welcome-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  margin-bottom: 20px;

  span {
    font-size: 2em;

    &:first-child {
      color: white;
    }
  }

  .typing-animation {
    background-image: linear-gradient(to right, #6a82fb, #fc5c7d);
    -webkit-background-clip: text;
    color: transparent;
  }
}
.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  margin-bottom: 20px;
}
.google-button {
  color: rgb(0, 0, 0);
  margin: 20px;
  width: 100%;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  background-color: #ffffff;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;
}

.google-button:hover {
  background-color: #f0f0f0;
}

.google-icon {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}
.or-separator {
  display: flex;
  align-items: center;
  width: 100%;
  margin: 20px 0;
}

.or-separator span {
  padding: 0 10px;
  z-index: 1;
  position: relative;
}

.or-separator::before,
.or-separator::after {
  content: "";
  flex-grow: 1;
  height: 1px;
  background-color: #ccc;
}
