<div class="container">
  <div class="logo">
    <span>FYNNC</span>
  </div>
  <div class="form">
    <div class="welcome-text">
      <span>Bem Vindo</span>
    </div>

    <div class="login-options"> <div class="login">
        <button class="google-button">
          Entrar com o Google
        </button>
      </div>
      <div class="or-separator"><span>ou</span></div>
      <form [formGroup]="form" (ngSubmit)="onSubmit()" class="form-container">
        <mat-form-field appearance="outline" class="custom-input">
          <mat-label>Email:</mat-label>
          <input matInput formControlName="email" placeholder="Enter email" autocomplete="off" style="color: white;">
          <mat-error *ngIf="form.get('email')?.hasError('required')">Email is required</mat-error>
          <mat-error *ngIf="form.get('email')?.hasError('email')">Enter a valid email</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" class="custom-input">
          <mat-label>Senha:</mat-label>
          <input matInput formControlName="password" type="password" placeholder="Enter password" style="color: white;">
          <mat-error *ngIf="form.get('password')?.hasError('required')">Password is required</mat-error>
          <mat-error *ngIf="form.get('password')?.hasError('minlength')">Password must be at least 6 characters</mat-error>
        </mat-form-field>
        <div style="margin-top: 10px; font-size: small; text-align: center;">
          <span style="color: gray;">Não tem uma conta?</span>
          </div>
            <!-- chamar component de criar conta --> 
        <button type="submit">Entrar</button>
      </form>
    </div>
  </div>
</div>