  <div class="welcome-text">
    <img src="assets/imagens/F.png" class="f" alt="Logo" />
  </div>

<div class="login-options">
  <form [formGroup]="form" class="form-container">
    <mat-form-field appearance="outline" class="custom-input">
      <mat-label>Email:</mat-label>
      <input matInput formControlName="email" placeholder="Enter email" autocomplete="off" class="email-input" />
    </mat-form-field>

    <mat-form-field appearance="outline" class="custom-input">
      <mat-label>Senha:</mat-label>
      <input matInput formControlName="password" type="password" placeholder="Enter password" class="password-input"/>
    </mat-form-field>
    <span 
    *ngIf="tentativasFalhas >= maxTentativas" 
    class="forgot-password" 
    (click)="openForgotPassword()"
  >
    Esqueceu a senha?
  </span>
  
    <div class="button-container">
      <button type="submit" class="btn-secondary" (click)="changeToSingUp()">Registrar</button>
      <button type="submit" class="btn-primary" (click)="onSubmit()">Entrar</button>
    </div>
    <div class="login">
      <div class="or-separator"><span>ou</span></div> 
      <button class="google-button">
        <img src="assets/imagens/google.png" alt="Google Icon" class="google-icon" />
        Entrar com o Google
      </button>
    </div>
  </form>

  
