
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap" rel="stylesheet">
<div class="app-container">
  <ng-container *ngIf="exibirNavbar">    
    <app-nav-bar 
      [@toggleNav]="navbarFechada ? 'closed' : 'open'" 
      (toggle)="toggleNavbar()"
      [situationNavBar]="navbarFechada">
    </app-nav-bar>
    <app-contact-support></app-contact-support>
  </ng-container>
  <div class="main-content" [class.expanded]="navbarFechada">
    <router-outlet></router-outlet>
  </div>
</div>
