<div class="main-container">
    <div>
        <div class="carousel-container">
            <div class="carousel">
              <div class="card">
                p
                <app-expense-card></app-expense-card>
              </div>
              <div class="card">
                <app-expense-card></app-expense-card>
              </div>
              <div class="card">
                <app-expense-card></app-expense-card>
              </div>
              <div class="card">
                <app-expense-card></app-expense-card>
              </div>
              <div class="card">
                <app-expense-card></app-expense-card>
              </div>
              <div class="card">
                <app-expense-card></app-expense-card>
              </div>
            </div>
          </div>
          
        <div class="ghapic">
            <app-chart-component [User]="userData" [Type]="'line'"></app-chart-component>
        </div>
    </div>
    <app-table class="table"></app-table>
</div>