<div class="table-container">
  <div class="header">
    <h3 class="title">Gastos Mensais</h3>
  </div>
  <table>
    <thead>
      <tr>
        <th>Categoria</th>
        <th>Data Vencimento</th>
        <th>Valor</th>
        <th>Status</th>
        <th>Ação</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngIf="!gastos || gastos.length === 0">
        <td class="no-data" colspan="5">Nenhum gasto encontrado</td>
      </tr>
      <tr *ngFor="let gasto of gastos" class="itens">
        <td class="categoria">{{ gasto?.categoria }}</td>
        <td>
          {{ gasto?.dataVencimento }}
          <small class="tempo-restante">({{ calcularTempoRestante(gasto.dataVencimento || '') }})</small>
        </td>
        <td>{{ gasto?.valor | currency }}</td>
        <td>
          <span class="status-circle" [ngClass]="{
            'status-pago': gasto?.status === 'Pago',
            'status-vencido': gasto?.status === 'Vencido',
            'status-pendente': gasto?.status !== 'Pago' && gasto?.status !== 'Vencido'
          }"></span>
          {{ gasto?.status }}
        </td>
        <td>
          <mat-icon class="editar-icon">edit</mat-icon>
        </td>
      </tr>
    </tbody>
  </table>
</div>
