.example-container {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

/* Estilo para o Sidenav */
mat-sidenav {
  width: 250px; /* Largura inicial quando aberto */
  min-width: 0;
  background-color: #ffffff;
  border-right: 1px solid #e0e0e0;
  transition: width 0.3s ease-in-out;
}
/* Ícones no Sidenav */
mat-icon {
  font-size: 24px;
  cursor: pointer;
  margin: 16px;
  color: #424242;
  transition: color 0.3s ease;
}

mat-icon:hover {
  color: #1976d2;
}

/* Itens de Navegação */
mat-sidenav mat-nav-list {
  margin-top: 20px;
}

mat-sidenav a[mat-list-item] {
  color: #424242;
  font-size: 14px;
  font-weight: 500;
  padding: 12px 20px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

mat-sidenav a[mat-list-item]:hover {
  background-color: #f5f5f5;
  color: #1976d2;
}

/* Conteúdo Principal */
.example-container > mat-sidenav-content {
  flex: 1;
  padding: 20px;
  overflow: auto;
  background-color: #fafafa;
  transition: margin-left 0.3s ease-in-out;
}

