/* You can add global styles to this file, and also import other style files */
/* Reset básico para garantir que não haja margens ou preenchimentos indesejados */
body, html {
    margin: 0;
    background-color: #f7f7f7e1 ;
    padding: 0;
    overflow: hidden;
    height: 100%;
  }
  