/* You can add global styles to this file, and also import other style files */
/* Reset básico para garantir que não haja margens ou preenchimentos indesejados */
body, html {
    margin: 0;
    // background-color: #ffff;
    //background: linear-gradient(135deg,  #ffff  ,#D86894);
    padding: 0;
    overflow: hidden;
    height: 100%;
    font-size: large;
    font-family: 'Times New Roman', Times, serif
  }

.custom-backdrop {
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(10px); /* Para o Safari */
}
