
    <form [formGroup]="form" (ngSubmit)="onSubmit()"  class="form-container">
      <mat-form-field appearance="outline" class="custom-input">
        <mat-label>Email:</mat-label>
        <input matInput type="email" formControlName="email" placeholder="Entre com email registrado">
      </mat-form-field>
      <div class="button-container">
        <button type="submit" class="btn-primary">Encontrar conta</button>
      </div>
    </form>
    <div *ngIf="isCodeSent" class="btn-secondary">
      Um código foi enviado para o seu e-mail. Verifique sua caixa de entrada!
    </div>

  