<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="outline" class="custom-input">
        <mat-label>Email:</mat-label>
        <input matInput formControlName="email" placeholder="Entre com email registrado">
    </mat-form-field>
    <mat-error *ngIf="form.get('email')?.invalid && form.get('email')?.touched">
        Por favor, insira um e-mail valido.
    </mat-error>
    <div class="button-container">
        <button type="submit" class="btn-secondary" (click)="changeToSingUp()">Registrar</button>
        <button type="submit" class="btn-primary">Entrar</button>
      </div>
</form>